*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contactForm .label {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
.label {
  margin-bottom: 8px;
  font: 12px Arial, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}
.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  float: left;
  line-height: 40px;
  text-align: center;
}
.fa {
  font-size: 20px;
}
.contactForm .form-control {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}
#contactForm .form-control {
  font-size: 16px;
}
.form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid #000;
}
.info-wrap {
  color: rgba(255, 255, 255, 0.8);
}
.info-wrap h3 {
  color: #fff;
}
.info-wrap .dbox {
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 25px;
}
.info-wrap .dbox:last-child {
  margin-bottom: 0;
}
.info-wrap .dbox p {
  margin-bottom: 0;
}
.info-wrap .dbox p span {
  font-weight: 500;
  color: #fff;
}
.info-wrap .dbox p a {
  color: #fff;
}
.info-wrap .dbox .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.info-wrap .dbox .icon span {
  font-size: 20px;
  color: #fff;
}
.info-wrap .dbox .text {
  width: calc(100% - 50px);
}
div.text.pl-3 {
  padding-left: 16px;
}
#contact-container{
font-family: Arial, Helvetica, sans-serif}
#subject,#message{
width: 100%;
}#message{
  resize: none;
  }
  
  #contact-detail{
    background: #6dabe4; color: white;
 
  }
 a:hover{
   border-bottom: 1px solid white;
 }
 p{color:white}