.page_home{
  padding:40px 0; background:#fff; font-family: 'Arvo', serif;

}
.page_home  img{ width:100%;}
.home_bg{ 
  background-image: url(../Images/home.gif);
     height:475px;
     
     background-position: center;
  }
  
  
  .home_bg .hp{
   
  font-size:20px;
  color:rgb(9, 108, 215);
  margin-bottom: 0px;
  }


  .home_bg h1{
       color:rgb(99, 80, 57);
    }
  h3{
    margin-top: -5%;
  }
  .a,.aBar{
    color:black;
  }
  .a:hover{
    color:black;
    border-bottom: 1px solid black;
  }